.a{
    width:80%
}

.ab{
    position: relative;
    display: flex;
    flex-direction: column;
    float: left;
    margin: 4%;
    padding-bottom: 10px;
}
.ac
{
    position: relative;
    display: flex;
    flex-direction: column;
    float: left;
    margin: 4%;
}