body
{
  background-color: white;
  
}
Card{
  text-align: center;
}
.column
{
    float: left;
    width: 30%;
    margin: 2%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }